@charset "UTF-8";
/**************************************/
html {
  background: #f9f8f6; }

#header_in .logo h1 {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0; }
  #header_in .logo h1 a {
    margin-top: 20px;
    display: block; }

.sp_navi_li {
  text-align: center;
  margin-bottom: 5px; }
  .sp_navi_li li {
    display: inline-block;
    margin: 15px 5px 0;
    height: 30px; }
    .sp_navi_li li img {
      height: 30px; }

#menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: none;
  display: block;
  height: 46px; }
  #menu li a {
    display: block;
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #524c3e; }
#menu img {
  height: 30px; }

.sp_menu_toggle {
  position: absolute;
  top: 90%;
  right: 2%;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 100; }

.pc_navi {
  overflow: hidden; }
  .pc_navi .pc_navi_li {
    float: right;
    margin: 0; }
    .pc_navi .pc_navi_li li {
      display: block;
      float: left;
      font-weight: bold;
      margin: 0 0 0 20px;
      height: 20px; }
      .pc_navi .pc_navi_li li:last-child {
        margin-left: 10px; }
      .pc_navi .pc_navi_li li a {
        color: #524c3e;
        text-decoration: none; }

#cover_area .container {
  padding: 0 10px; }
  #cover_area .container .owl-theme .owl-dots {
    display: inline-block;
    margin: 0 !important; }
    #cover_area .container .owl-theme .owl-dots .owl-dot.active span, #cover_area .container .owl-theme .owl-dots .owl-dot:hover span {
      background: #9d1a2d; }
    #cover_area .container .owl-theme .owl-dots .owl-dot span {
      width: 25px;
      height: 2px;
      margin: 0 10px 0 0; }

#main .pc_title {
  margin-bottom: 10px; }
#main .Itemcover {
  width: 700px;
  overflow: hidden;
  margin: 0 auto 30px; }
  #main .Itemcover .item_box {
    width: 29%;
    background: #ffffff;
    padding: 14px;
    float: left;
    margin: 0 0 2px 2px; }
    #main .Itemcover .item_box p {
      font-size: 12px;
      margin-bottom: 15px; }
      #main .Itemcover .item_box p:last-child {
        margin: 0; }
  #main .Itemcover .inner {
    width: 580px;
    background: #ffffff;
    padding: 30px 60px;
    overflow: hidden; }
    #main .Itemcover .inner .item_name {
      border-bottom: 1px solid #e3e8cf;
      margin-bottom: 20px; }
      #main .Itemcover .inner .item_name h4 {
        font-size: 14px;
        font-weight: bold;
        float: left; }
      #main .Itemcover .inner .item_name span {
        float: right;
        font-size: 10px;
        color: #a6a6a6; }
    #main .Itemcover .inner .content {
      border-bottom: 1px solid #e3e8cf;
      padding-bottom: 10px; }
      #main .Itemcover .inner .content:last-child {
        border: none; }
      #main .Itemcover .inner .content .topics_tit {
        width: 110px;
        margin: 20px auto 15px;
        float: left; }
      #main .Itemcover .inner .content .list {
        width: 330px;
        float: left;
        margin-right: 25px; }
        #main .Itemcover .inner .content .list ul {
          margin: 0; }
          #main .Itemcover .inner .content .list ul li {
            display: block;
            border-top: 1px solid #e3e8cf;
            overflow: hidden;
            margin: 0; }
            #main .Itemcover .inner .content .list ul li.quantify {
              padding-top: 3px; }
            #main .Itemcover .inner .content .list ul li .box1, #main .Itemcover .inner .content .list ul li .box2 {
              margin: 10px 40px 0 0; }
              #main .Itemcover .inner .content .list ul li .box1 .price_in, #main .Itemcover .inner .content .list ul li .box2 .price_in {
                margin: 0 5px 0 0;
                display: inline-block;
                font-size: 22px;
                font-style: italic;
                color: #e80f66; }
                #main .Itemcover .inner .content .list ul li .box1 .price_in span, #main .Itemcover .inner .content .list ul li .box2 .price_in span {
                  font-size: 14px;
                  margin-right: 2px; }
        #main .Itemcover .inner .content .list #form03 {
          margin: 0; }
          #main .Itemcover .inner .content .list #form03 #input03 {
            margin: 0;
            width: 150px;
            border-color: #e8e4da;
            border-radius: 0; }
      #main .Itemcover .inner .content .cart {
        display: block; }
      #main .Itemcover .inner .content p {
        font-size: 14px;
        line-height: 1.8em; }
      #main .Itemcover .inner .content .description {
        margin: 30px auto 25px;
        border-bottom: 1px solid #887f69; }
      #main .Itemcover .inner .content .de_title {
        color: #887f69;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px; }
      #main .Itemcover .inner .content.irreg table th {
        width: 30%; }
    #main .Itemcover .inner table {
      border-collapse: collapse;
      width: 580px;
      margin-bottom: 20px; }
      #main .Itemcover .inner table th, #main .Itemcover .inner table td {
        border: solid 1px #e3e8cf;
        font-weight: 100;
        text-align: center;
        padding: 8px 0;
        font-size: 12px;
        color: #887f69; }
        #main .Itemcover .inner table th input[type="checkbox"], #main .Itemcover .inner table td input[type="checkbox"] {
          margin: 0; }
      #main .Itemcover .inner table th {
        background: #f9f9f5; }
#main .guide {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 30px; }
  #main .guide .guide_box {
    width: 45%;
    height: 205px;
    background: #ffffff;
    float: left;
    padding: 15px;
    margin: 0 5px 0 0;
    font-size: 12px; }
    #main .guide .guide_box:last-child {
      margin: 0; }
    #main .guide .guide_box .g_title {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #887f69; }
    #main .guide .guide_box .sb_tit {
      color: #887f69;
      margin: 10px 0 2px;
      font-weight: bold; }
#main .sp_title {
  display: block;
  margin: 0 auto; }
#main .selectBtn {
  overflow: hidden;
  margin: 0 auto 25px; }
  #main .selectBtn .btn {
    width: 100px;
    float: left;
    background: #887f69;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin: 0; }
    #main .selectBtn .btn.right {
      float: right !important; }
    #main .selectBtn .btn a {
      color: #ffffff; }
#main #display_img {
  float: left;
  margin-right: 10px; }
  #main #display_img img {
    width: 410px; }
#main #list_img {
  margin: 0; }
  #main #list_img li {
    list-style: none;
    display: inline-block;
    margin: 0 2px 2px 0; }
  #main #list_img img {
    width: 75px;
    cursor: pointer; }

h2 {
  font-size: 0; }

.search_box {
  background: #ffffff;
  padding: 10px 20px 20px;
  margin-bottom: 10px; }
  .search_box span {
    display: block;
    margin: 0 auto 5px; }
  .search_box #form02 {
    background-color: #eeeeee;
    height: 30px;
    margin: 0;
    position: relative; }
    .search_box #form02 input {
      vertical-align: top;
      margin: 0px;
      height: 100%;
      box-sizing: border-box;
      background-color: transparent; }
    .search_box #form02 #input02 {
      border: none;
      width: 100%;
      padding-left: 10px;
      position: relative;
      font-size: 12px;
      opacity: 0.6; }
    .search_box #form02 #submit02 {
      width: 16px;
      height: 20px;
      padding: 0;
      border: none;
      background-image: url(../images/top/search_icon.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 7px;
      right: 8px; }

.sidemenu .menu_title {
  display: block;
  background: #887f69;
  padding: 10px;
  margin-top: 10px;
  position: relative; }
  .sidemenu .menu_title:after {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background: url(../images/top/next_icon.png) no-repeat center center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 34%;
    right: 8%; }
  .sidemenu .menu_title.active:after {
    content: '';
    display: block;
    width: 14px;
    height: 8px;
    background: url(../images/top/down_icon.png) no-repeat center center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 43%;
    right: 7%; }
.sidemenu li {
  display: block;
  padding: 16px;
  background: #ffffff;
  margin: 0;
  font-size: 12px;
  border-bottom: 1px solid #f9f8f6;
  position: relative; }
  .sidemenu li a {
    color: #000000; }
  .sidemenu li:after {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    background: url(../images/top/next_icon_gray.png) no-repeat center center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 34%;
    right: 8%; }
.sidemenu .category01 {
  display: none; }

.other {
  background: #ffffff; }
  .other h3 {
    display: block;
    background: #887f69;
    padding: 10px;
    margin: 10px 0;
    line-height: 0; }
  .other .inner {
    padding: 0 10px 15px; }
    .other .inner .text {
      font-size: 12px;
      margin-bottom: 10px; }
    .other .inner a {
      display: block;
      text-align: center; }

.pagetop {
  text-align: right;
  margin-bottom: 10px; }

footer .container {
  border-top: 1px solid #887f69; }
  footer .container .footer_link ul {
    width: 380px;
    margin: 30px auto 10px;
    overflow: hidden; }
    footer .container .footer_link ul li {
      float: left;
      display: block;
      font-size: 12px; }
      footer .container .footer_link ul li:after {
        content: '・';
        margin: 0 10px; }
      footer .container .footer_link ul li:last-child:after {
        content: none; }
      footer .container .footer_link ul li a {
        color: #000000;
        text-decoration: none; }
footer p.copy {
  color: #b8b4ac;
  font-size: 10px;
  text-align: center; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.pan_navi {
  width: 680px;
  padding: 8px 10px;
  background: #e8e4da;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 11px; }
  .pan_navi ol {
    margin: 0; }
    .pan_navi ol li {
      list-style: none;
      float: left;
      color: #887f69;
      margin: 0; }
      .pan_navi ol li:before {
        content: '/';
        margin: 0 10px;
        color: #abb4bf; }
      .pan_navi ol li:first-child:before {
        content: none; }
  .pan_navi img {
    margin: 0 10px 0 5px; }

@media (min-width: 640px) {
  #header_in {
    position: relative;
    width: 940px;
    margin-top: 20px; }
    #header_in .navi {
      position: absolute;
      bottom: 0;
      right: 0; }

  .sp_navi, .sp_title, .sp_img {
    display: none !important; }

  #cover_area {
    margin-top: 40px; } }
@media (max-width: 640px) {
  h1 {
    text-align: center; }

  .pc_navi, .pc_title, .pc {
    display: none; }

  #cover_area {
    width: 100%; }
    #cover_area .container.sp {
      padding: 0; }
    #cover_area .container #main .Itemcover {
      width: 100%; }
      #cover_area .container #main .Itemcover .item_box {
        width: 45%;
        padding: 6px;
        margin: 0 0 2px 2px; }
        #cover_area .container #main .Itemcover .item_box img {
          width: 100%; }
    #cover_area .container #main .irreg .inner {
      padding: 20px 10px;
      width: auto; }
      #cover_area .container #main .irreg .inner .item_name {
        margin-bottom: 10px; }
        #cover_area .container #main .irreg .inner .item_name h4 {
          float: none;
          margin: 0; }
        #cover_area .container #main .irreg .inner .item_name span {
          float: none;
          margin: 4px 0 10px;
          display: block; }
      #cover_area .container #main .irreg .inner .content:nth-child(3) {
        border: none; }
      #cover_area .container #main .irreg .inner .content #display_img {
        float: none;
        margin: 0; }
        #cover_area .container #main .irreg .inner .content #display_img img {
          width: 100%; }
      #cover_area .container #main .irreg .inner .content #list_img li {
        width: 18%; }
      #cover_area .container #main .irreg .inner .content #list_img img {
        width: 100%; }
      #cover_area .container #main .irreg .inner .content table {
        width: 100%; }
        #cover_area .container #main .irreg .inner .content table tr, #cover_area .container #main .irreg .inner .content table td {
          padding: 10px 5px; }
      #cover_area .container #main .irreg .inner .content .list {
        width: 100% !important;
        float: none; }
      #cover_area .container #main .irreg .inner .content .cart {
        text-align: center;
        padding-top: 10px;
        border-top: 1px solid #e3e8cf; }
    #cover_area .container #main .guide .guide_box {
      width: 90%;
      margin: 0 auto 5px; }
      #cover_area .container #main .guide .guide_box .card {
        width: 100%; }
    #cover_area .container #main .pan_navi {
      width: auto;
      padding: 8px 0px 8px 5px; }
      #cover_area .container #main .pan_navi.sp {
        margin: 0 10px 10px; }

  .sp {
    width: auto !important;
    padding: 0 10px; }

  #right_colum .search_box {
    padding: 25px 20px; }
    #right_colum .search_box span {
      margin: 0; }
    #right_colum .search_box img {
      display: none; }
  #right_colum .other h3 {
    display: block;
    background: #887f69;
    padding: 15px 10px;
    margin: 10px 0;
    line-height: 0; }
  #right_colum .other .inner {
    overflow: hidden; }
    #right_colum .other .inner img {
      float: left;
      width: 45%;
      margin-right: 10px; }
    #right_colum .other .inner a img {
      width: 101px !important;
      display: block; }

  .pagetop {
    text-align: center;
    margin-top: 15px; }

  footer .container .footer_link ul {
    width: 100%;
    text-align: center; }
    footer .container .footer_link ul li {
      float: none;
      display: inline; } }

/*# sourceMappingURL=style.css.map */
